---
layout: default
---

<div class="home">

<p>
The CroBiAd group is situated in the Plant Genomics Centre on the <a href="https://www.adelaide.edu.au/campuses/waite/">Waite Campus</a>
of the <a href="https://www.adelaide.edu.au/">University of Adelaide</a> in <a href="https://www.google.com.au/maps/place/Plant+Genomics+Centre/@-34.968931,138.6352546,17z/data=!3m1!4b1!4m5!3m4!1s0x6ab0ce806dad95cd:0x1975e23cdf4e7838!8m2!3d-34.968931!4d138.6374433?dcr=0">South Australia</a>. We are part of the <a href="https://agwine.adelaide.edu.au/">School of Agriculture, Food and Wine</a>.
</p>

<h2>Biology as a Data Science</h2>

<p>
Biology is becoming ever more <em>data driven</em>. This is in part due to technological advances in DNA sequencing which means that many labs can now
generate DNA sequence data at low cost. This has brought <em>new opportunities</em> to the field of crop biology but also brings it's own challenges due
to the size and complexity of this <em>big data</em>.
</p>

</p>
Bioinformatics is inherently a <em>multidisciplinary</em> field which intersects <em>biology</em>, <em>computer science</em> and <em>statistics</em>.
As such, the <a href="/people">group</a> is naturally multidisciplinary too, with different career paths and different areas ofexpertise.
</p>

<h2>Awarded for Industry Research Partnership</h2>

<p>
The group has strong collaborations with both internal biology-focused groups as well as industry partners. This have been recognised by the
University of Adelaide with the <em><a href="https://sciences.adelaide.edu.au/research/awards/">Emerging Industry Research Partnership Award</a></em> in 2015.
</p>

<!--
  <h1 class="page-heading">Recent Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->

</div>
